:root {
  --primaryColor: #f5f9fc;
  --secondaryColor: #061e4a;
  --MainFrontPresentation: #f9be30;
  --GreenColor: #319a49;
  --headerbgColor: #202936;
  --Boldtextcolor: #3c4a5b;
  /* --blue-button: rgb(11, 99, 148); */
}
