@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

nav,
ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}
.burger-icon {
  display: none;
}
.dflex,
.dflex-align-center,
.dflex-justify-center {
  display: flex;
}

.dgrid,
.dgrid-col-2,
.dgrid-col-4 {
  display: grid;
}
.dgrid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.dgrid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dflex-align-center {
  align-items: center;
}
.dflex-justify-center {
  justify-content: center;
}

.w-1200 {
  width: 1200px;
  margin: 0rem auto;
}
header {
  background: transparent;
  position: fixed;
  z-index: 222;
  padding: 2rem 0rem;
  width: 100%;
  transition: 0.3s ease all;
  color: #fff;
}
header.scroll {
  padding: 1.4rem 0rem;
  background-color: var(--headerbgColor);
}
header .header-content {
  justify-content: space-between;
}

header .header-content .logo img {
  width: 250px;
}
header .header-content nav li {
  font-size: 13px;

  font-weight: 700;
  text-transform: uppercase;
}
header .header-content nav li + li {
  margin-left: 2rem;
}
header .header-content nav li.auth-button {
  background: var(--GreenColor);
  display: inline-block;

  /* width: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  font-size: 12px;
}
header .header-content nav li.auth-button a {
  display: block;
  width: 100%;
  padding: 0.7rem 1.4rem;
  height: 100%;
}
header .header-content nav li:last-child {
  margin-left: 10px;
  /* background: var(--GreenColor); */
}
footer {
  background: var(--headerbgColor);
  padding: 2rem 0rem;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
footer .footer-content nav {
  display: flex;
  align-items: center;
}
footer .footer-content p {
  font-size: 13px;
}
footer .footer-content nav li {
  font-size: 13px;
  font-weight: 700;
}
footer .footer-content nav li + li {
  margin-left: 1rem;
}

@media screen and (max-width: 1230px) {
  .w-1200 {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  .burger-icon {
    display: block;
  }

  header .header-content nav {
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--headerbgColor);
    top: 100%;
    padding: 1.5rem 6%;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.4s ease all;
    top: -300px;
  }
  header .header-content nav.active {
    top: 4rem;
  }
  header .header-content nav > * + * {
    margin-left: 0rem !important;
    margin-top: 1rem;
  }
  header .header-content nav > li {
    display: block;
    width: 100%;
  }
  header .header-content nav > li a {
    display: block;
  }
  header .header-content nav li.auth-button {
    border-radius: 5px;
  }
  footer .footer-content nav {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  footer .footer-content {
    text-align: center;
  }
}
