@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

nav,
ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.dflex,
.dflex-align-center,
.dflex-justify-center {
  display: flex;
}

.dgrid,
.dgrid-col-2,
.dgrid-col-4 {
  display: grid;
}
.dgrid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.dgrid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dflex-align-center {
  align-items: center;
}
.dflex-justify-center {
  justify-content: center;
}

.w-1200 {
  width: 1200px;
  margin: 0rem auto;
}
header {
  background: transparent;
  position: fixed;
  z-index: 222;
  padding: 2rem 0rem;
  width: 100%;
  transition: 0.3s ease all;
  color: #fff;
}
header.scroll {
  padding: 1.4rem 0rem;
  background-color: var(--headerbgColor);
}
header .header-content {
  justify-content: space-between;
}

header .header-content .logo img {
  width: 250px;
}
header .header-content nav li {
  font-size: 13px;

  font-weight: 700;
  text-transform: uppercase;
}
header .header-content nav li + li {
  margin-left: 2rem;
}
header .header-content nav li.auth-button {
  background: var(--GreenColor);
  display: inline-block;

  /* width: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  font-size: 12px;
}
header .header-content nav li.auth-button a {
  display: block;
  width: 100%;
  padding: 0.7rem 1.4rem;
  height: 100%;
}
header .header-content nav li:last-child {
  margin-left: 10px;
  /* background: var(--GreenColor); */
}
